%h2
  Редактировать мои регистрационные данные
= bootstrap_form_for(resource, as: resource_name,  layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6", url: registration_path(resource_name), html: { method: :put }) do |f|
  .form-inputs
    = f.email_field :email, label: "Email", required: true, autofocus: true
    = f.text_field :first_name, label: "Имя", required: true
    = f.text_field :last_name, label: "Фамилия", required: true
    = f.number_field :age, label: "Возраст", required: true
    = f.telephone_field :phone, label: "Телефон", required: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.password_field :password, autocomplete: "off", help: "Пропустите поле, если не хотите его изменить", required: false
    = f.password_field :password_confirmation, help: "Пропустите поле, если не хотите его изменить", required: false
    = f.password_field :current_password, help: "Введите пароль, чтобы изменения вступили в силу", required: true
    = f.form_group do
      = f.primary  "Обновить"
.form-group
  .col-sm-offset-3.col-sm-10
    %h3 Удалить мой аккаунт
    %p
      Unhappy? #{link_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Вернуться", root_path, class: "btn btn-default"
