.top-right-actions
  = link_to "Добавить", new_admin_vacancy_path, class: "btn btn-primary"
%h1 Собрания (#{@vacancies.count})

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th.td-18
      \#
    %th.td-18
    %th
      Название
    %th
      Время
    %th
      Комментарии
    %th.td-18

  - @vacancies.each_with_index do |vacancy, index|

    %tr
      %td.td-18
        = index + 1
      %td.td-18
        = admin_edit_link(vacancy)
      %td
        = vacancy.name
      %td
        #{vacancy.starts_at.strftime("%H:%M")}-#{vacancy.ends_at.strftime("%H:%M")}
      %td
        = vacancy.comment
      %td.td-18
        = delete_trash_link admin_vacancy_path(vacancy)