.top-right-actions
  = link_to "Добавить", new_admin_responsibility_path, class: "btn btn-primary"
%h1 Назначения (#{@responsibilities.count})

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th.td-18
      \#
    %th.td-18
    %th
      Наименование
    %th.td-18

  - @responsibilities.each_with_index do |responsibility, index|

    %tr
      %td.td-18
        = index + 1
      %td.td-18
        = admin_edit_link(responsibility)
      %td
        = responsibility.name
      %td.td-18
        = delete_trash_link admin_responsibility_path(responsibility)