%h2 Повторная отправка сообщения для разблокировки

%div(style="width: 600px; margin: 100px auto")
  .panel.panel-info
    .panel-heading
      Вход
    .panel-body
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "vertical_form"}) do |f|
        = f.error_notification
        = f.full_error :unlock_token
        = f.input :email, required: true, autofocus: true
        = f.submit "Отправить", :class => "btn btn-primary"
    .panel-footer
      = render "devise/shared/links"
