%h1 Написать сообщение

= simple_form_for [:admin, @message], :html => { class: "horizontal_form" } do |f|
  = f.input :user_id, collection: User.managers, label_method: :full_info, value_method: :id, label: "Пользователь", autofocus: true
  = f.input :message, label: "Сообщение"

  = f.button :submit, "Сохранить", class: 'btn btn-primary'
  = link_to "Отмена", admin_documents_path, class: "btn btn-default"