.top-right-actions
  = link_to "Добавить", new_admin_message_path, class: "btn btn-primary"
%h1 Сообщения пользователя #{@user.congregation.name}(#{@messages.count})

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th.td-18
      \#
    %th
      Пользователь
    %th
      Сообщениее
    %th.td-18

  - @messages.each_with_index do |message, index|

    %tr
      %td.td-18
        = index + 1
      %td
        = message.user.full_info
      %td
        = message.message
      %td.td-18
        = delete_trash_link admin_message_path(message)