.top-right-actions
  = simple_form_for :volunteer, url: "/admin/volunteers", method: :get, html: { style: "display: inline-block;", class: "form-inline" } do |f|
    = f.input :vacancy, label: false, collection: {"ВСЕ": nil, "С НАЗНАЧЕНИЕМ": 1, "БЕЗ НАЗНАЧЕНИЯ": 2}, include_blank: false, selected: @vacancy
    = f.input :order, label: false, collection: [["ПО ФАМИЛИИ", "last_name"], ["ПО СОБРАНИЮ", "congregations.name"]], include_blank: false, selected: @order
    = f.input :congregation_id, label: false, collection: Congregation.order(:name), label_method: :full_info, value_method: :id, include_blank: "<ВЫБРАТЬ ГОРОД>", selected: @congregation_id
    = f.input :part, label: false, input_html: { value: "#{@part}" }
    = f.submit "Найти", class: "btn btn-default"


%h1 Добровольцы (#{@volunteers.count})

%table.table.table-bordered
  %tr
    %th.td-18
      \#
    %th.td-18
    %th
      Сведения
    %th
      Время
    %th
      08
    %th
      17
    %th
      УЛ
    %th
      Авт
    %th
      Телефон
    %th
      EMAIL
    %th
      Комментарии
    %th
      Время и место служения
    %th.td-18
  - @volunteers.each_with_index do |volunteer, index|
    %tr
      %td
        = index + 1
      %td
        = edit_link [:edit,:admin , volunteer]
      %td
        = volunteer.full_info
      %td.td-nowrap
        = convenient_time(volunteer)
      %td.td-center.pointer(title="Будет к 8:00")
        = yes_or_no_icon(volunteer.will_be_since_8)
      %td.td-center.pointer(title="Будет до 17:00")
        = yes_or_no_icon(volunteer.will_be_until_17)
      %td.td-center.pointer(title="Может на улице")
        = yes_or_no_icon(volunteer.outdoor)
      %td.td-center.pointer(title="Автомобилист")
        = yes_or_no_icon(volunteer.car)
      %td.td-nowrap
        = volunteer.phone
      %td
        = volunteer.email
      %td
        = volunteer.comment
      %td
        = volunteer.vacancy_id
      %td
        = delete_link [:admin, volunteer]

= link_to "Добавить", new_admin_volunteer_path, class: "btn btn-primary"
