%h1
  Вход
%div
  = bootstrap_form_for(resource, :as => resource_name, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6", :url => session_path(resource_name), :html => {class: "form-horizontal", role: "form" }) do |f|
    = f.email_field :email, label: "E-mail", input_html: {autofocus: true}
    = f.password_field :password, label: "Пароль"
    = f.form_group do
      = f.check_box :remember_me, label: "Запомнить меня", as: :boolean if devise_mapping.rememberable?
      = f.primary "Войти"
.form-group
  .col-sm-offset-3.col-sm-8
    = render "devise/shared/links"