%h1 Редактирование пользователя

= simple_form_for [:admin, @user], :html => { :id => "user_form", :class => 'form-horizontal', :role => "form", autocomplete: "off" } do |f|
  = f.input :last_name, label: "Фамилия"
  = f.input :first_name, label: "Имя"
  = f.input :email, label: "Почта"
  = f.input :age, label: "Возраст"
  = f.input :congregation_id, label: "Собрание", collection: Congregation.order(:name), label_method: :name, value_mathod: :id, include_blank: false
  = f.input :responsibility_id, label: "Назначение", collection: Responsibility.order(:name), label_method: :name, value_mathod: :id, include_blank: false
  = f.input :phone, label: "Телефон"
  = f.input :manager, label: "Менеджер", as: :boolean
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit "Сохранить", class: "btn btn-primary"
      = link_to "Отмена", admin_users_path, class: "btn btn-default"


:javascript

  $(document).ready(function($){
    $("#user_phone").mask("(999) 999-9999");
  });
